@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(../public/assets/noise.png), radial-gradient(circle, rgb(31, 31, 31) 0%, #000000); */
  background-size: 400px, 100% 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
  color: white;
  @apply bg-stone-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
